.section-compare {
    height: 80vh;
    @include media('<=tablet') {
        height: 100vh;
    }
    @include media('<=phone') {
        margin-top: 100px;
        height: 100vh;
    }
    &-wrapper {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        @include media('<=tablet') {
            height: 100vh;
        }
        @include media('<=phone') {
            height: 100vh;
        }
        &__title {
            h1 {
                font-family: $poppins;
                color: $black;
                font-size: 31px;
                @include media('<=phone') {
                    font-size: 29px;
                }
            }
        }
        &__links {
            margin-top: 44px;
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            .money {
                background-color: $blue;
                color: white;
                font-family: $poppins;
                font-size: 14px;
                border: $blue 2px solid;
                padding: 12px;
                text-decoration: none;
            }
            .insurance {
                color: $black;
                font-family: $poppins;
                font-size: 14px;
                border: $blue 2px solid;
                padding: 12px;
                text-decoration: none;
            }
        }
        &__arcticles {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1300px;
            margin-top: 70px;
            margin-right: 40px;
            @include media('<=tablet') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @include media('<=phone') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
            }
            &__first {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                @include media('<=phone') {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .arcticle {
                    background: url('../img/trade.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 295px;
                    height: 301px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-left: 30px;
                    @include media('<=phone') {
                        width: 245px;
                        height: 251px;
                        margin-top: 15px;
                    }
                    &-text {
                        background-color: $blue;
                        width: 295px;
                        margin-bottom: 53px;
                        height: 75px;
                        display: flex;
                        flex-direction: column;
                        h4 {
                            color: white;
                            font-family: $poppins;
                            font-size: 18px;
                            margin-top: 18px;
                            margin-left: 40px;
                        }
                        p {
                            color: white;
                            font-family: $poppins;
                            font-size: 14px;
                            margin-top: 6px;
                            margin-left: 30px;
                            @include media('<=phone') {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .arcticle-2 {
                    background: url('../img/cards.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 295px;
                    height: 297px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-left: 30px;
                    @include media('<=tablet') {
                        width: 295px;
                        height: 292px;
                    }
                    @include media('<=phone') {
                        width: 245px;
                        height: 251px;
                        margin-top: 15px;
                    }
                    &-text {
                        background-color: $blue;
                        width: 295px;
                        margin-bottom: 53px;
                        height: 75px;
                        display: flex;
                        flex-direction: column;
                        @include media('<=tablet') {
                            width: 292px;
                            height: 72px;
                            margin-right: 5px;
                            margin-bottom: 45px;
                        }
                        @include media('<=phone') {
                            width: 295px;
                            margin-right: 0;
                            margin-bottom: 53px;
                        }
                        h4 {
                            color: white;
                            font-family: $poppins;
                            font-size: 18px;
                            margin-top: 18px;
                            margin-left: 40px;
                        }
                        p {
                            color: white;
                            font-family: $poppins;
                            font-size: 14px;
                            margin-top: 6px;
                            margin-left: 30px;
                            @include media('<=phone') {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            &__second {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                @include media('<=phone') {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                }
                .arcticle-3 {
                    background: url('../img/house.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 295px;
                    height: 297px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-left: 30px;
                    @include media('<=phone') {
                        width: 245px;
                        height: 251px;
                    }
                    &-text {
                        background-color: $blue;
                        width: 295px;
                        margin-bottom: 53px;
                        height: 75px;
                        display: flex;
                        flex-direction: column;
                        h4 {
                            color: white;
                            font-family: $poppins;
                            font-size: 18px;
                            margin-top: 18px;
                            margin-left: 40px;
                        }
                        p {
                            color: white;
                            font-family: $poppins;
                            font-size: 14px;
                            margin-top: 6px;
                            margin-left: 30px;
                            @include media('<=phone') {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .arcticle-4 {
                    background: url('../img/bigCar_and_money.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 295px;
                    height: 297px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-left: 30px;
                    @include media('<=phone') {
                        width: 245px;
                        height: 251px;
                        margin-top: 15px;
                    }
                    &-text {
                        background-color: $blue;
                        width: 295px;
                        margin-bottom: 53px;
                        height: 75px;
                        display: flex;
                        flex-direction: column;
                        h4 {
                            color: white;
                            font-family: $poppins;
                            font-size: 18px;
                            margin-top: 18px;
                            margin-left: 40px;
                        }
                        p {
                            color: white;
                            font-family: $poppins;
                            font-size: 14px;
                            margin-top: 6px;
                            margin-left: 30px;
                            @include media('<=phone') {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

        }
    }
}