.section-footer {
    height: 40vh;
    margin-top: 60px;
    @include media('<=tablet') {
        margin-top: 55px;
        position: relative;
    }
    @include media('<=phone') {
        margin-top: 600px;
        height: 60vh;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        @include media('<=phone') {
            height: 60vh;
        }
        &__header_of_footer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            @include media('<=phone') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 5px;
            }
            &__image__and__logo {
                width: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left: 7px;
                @include media('<=phone') {
                    margin-right: 20px;
                }
                .image {
                    background: url('../img/petra.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 37px;
                    height: 52px;
                }
                .logo {
                    font-size: 25px;
                    font-family: $poppins;
                    color: #000000;
                    margin-left: 6px;
                }
            }
            &__text {
                margin-left: 35px;
                margin-top: 2px;
                @include media('<=phone') {
                    margin-left: 20px;
                }
                p {
                    font-size: 22px;
                    font-family: $poppins;
                    color: #000000;
                    @include media('<=tablet') {
                        font-size: 12px;
                    }
                    @include media('<=phone') {
                        font-size: 14px;
                    }
                }
            }
        }
        &__middle__of__footer {
            background-color: $black;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include media('<=tablet') {
                width: 868px;
                height: 250px;
            }
            @include media('<=phone') {
                height: 330px;
                width: 540px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
            }
            &__logo {
                background: url('../img/Logo_yallacompare.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 223px;
                height: 45px;
                margin-left: 10%;
                @include media('<=tablet') {
                    position: absolute;
                    top: 60px;
                    left: -50px;
                    width: 215px;
                    height: 37px;
                }
                @include media('<=phone') {
                    position: absolute;
                    top: 10px;
                    left: 45px;
                    width: 215px;
                    height: 37px;
                }
            }
            &__links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 130px;
                @include media('<=tablet') {
                    margin-right: 0;
                    margin-left: 70px;
                    width: 860px;
                }
                @include media('<=phone') {
                    margin-right: 0;
                    margin-left: 85px;
                    width: 370px;
                }
                h2 {
                    color: $gray;
                    font-family: $poppins;
                    font-size: 13px;
                    margin-left: 15px;
                    width: 100px;
                    cursor: pointer;
                    @include media('<=phone') {
                        font-size: 8px;
                    }
                }
            }
            &__icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 250px;
                @include media('<=tablet') {
                    margin-top: 90px;
                    position: absolute;
                    left: 30px;
                    width: 400px;
                }
                @include media('<=phone') {
                    margin-top: 90px;
                    position: absolute;
                    left: 105px;
                    width: 300px;
                }
                span {
                    height: 26px;
                    background-color: #707070;
                    width: 1px;
                }
                .fb {
                    background: url('../img/black-facebook.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 10px;
                    height: 20px;
                }
                .twitter {
                    background: url('../img/black-twitter.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 26px;
                    height: 23px;
                }
                .youtube {
                    background: url('../img/black-youtube.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 22px;
                    height: 24px;
                }
                .instagram {
                    background: url('../img/black-instagram.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 26px;
                    height: 24px;
                }
                .pinterest {
                    background: url('../img/pinterest-black.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 21px;
                    height: 29px;
                }
            }
        }
        &__bottom__of__footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100px;
            @include media('<=phone') {
                height: 215px;
                display: flex;
                flex-direction: column;
                margin-top: 5px;
            }
            &__copyright {
                margin-left: 111px;
                @include media('<=tablet') {
                    margin-left: 30px;
                }
                @include media('<=phone') {
                    margin-left: 0;
                }
                p {
                font-family: $poppins;
                font-size: 17px;
                color: #000000;
                @include media('<=tablet') {
                    font-size: 9px;
                }
                @include media('<=phone') {
                    font-size: 15px;
                }
                a {
                    font-family: $poppins;
                    font-size: 17px;
                    color: #000000;
                    @include media('<=tablet') {
                        font-size: 9px;
                    }
                    @include media('<=phone') {
                        font-size: 15px;
                    }
                }
            }
        }
            &__pay {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 70px;
                @include media('<=phone') {
                    margin-right: 30px;
                }
                .installments {
                    background: url('../img/installment.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 150px;
                    height: 58px;
                }
                .mastercard {
                    background: url('../img/mastercard.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 54px;
                    height: 32px;
                    @include media('<=phone') {
                        margin-right: 35px;
                    }
                }
                .visa {
                    background: url('../img/credit-card-visa.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 47px;
                    height: 32px;
                    margin-left: 30px;
                    @include media('<=phone') {
                        margin-left: 5px;
                    }
                }
            }
            &__download {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;
                .google-play {
                    width: 129px;
                    height: 44px;
                    background: url('../img/google_play.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .app-store {
                    width: 129px;
                    height: 44px;
                    background: url('../img/app_store.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 8px;
                }
            }
        }
    }
}