.section-reason {
    width: 100vw;
    @include media('<=phone') {
        margin-top: 100%;
        height: 100vh;
    }
    &-wrapper {
        display: flex;
        align-items: center;
        @include media('<=phone') {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__reasons {
            width: 950px;
            background: rgb(142,49,92);
            background: linear-gradient(90deg, rgba(142,49,92,1) 0%, rgba(232,76,155,1) 0%);
            height: 465px;
            position: relative;
            @include media('<=phone') {
                height: 800px;
                background: rgb(142,49,92);
                background: linear-gradient(90deg, rgba(142,49,92,1) 0%, rgba(232,76,155,1) 0%);
            }
            &__title {
                margin-left: 65px;
                margin-top: 25px;
                @include media('<=phone') {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                h3 {
                    color: #FFFFFF;
                    font-family: $poppins;
                    font-size: 17px;
                    @include media('<=phone') {
                        font-size: 18px;
                        margin-right: 80px;
                    }
                }
                &__big__title {
                    width: 500px;
                    @include media('<=phone') {
                        width: 500px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .first {
                        color: #FFFFFF;
                        font-family: $poppins;
                        font-size: 27px;
                        margin-top: 8px;
                        @include media('<=phone') {
                            margin-right: 69px;
                            font-size: 25px;
                        }
                    }
                    .second {
                        color: #FFFFFF;
                        font-family: $poppins;
                        font-size: 27px;
                        opacity: 0.8;
                        position: absolute;
                        top: 51px;
                        left: 47%;
                        @include media('<=phone') {
                            top: 85px;
                            left: 36%;
                            font-size: 32px;
                        }
                    }
                }
            }
            &__subtitle {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 40px;
                width: 900px;
                @include media('<=phone') {
                    height: 80%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                &__first-column {
                    height: 80%;
                    width: 40%;
                    @include media('<=phone') {
                        height: 80%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    &__time {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &__image {
                            background: url('../img/clock.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 73px;
                            height: 60px;
                            margin-top: 35px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                                @include media('<=phone') {
                                    width: 90%;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    &__protect {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 7px;
                        margin-top: 20px;
                        &__image {
                            background: url('../img/protect.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 53px;
                            height: 40px;
                            margin-top: 25px;
                            margin-bottom: 15px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                            }
                        }
                    }
                    &__awareness {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 7px;
                        margin-top: 20px;
                        &__image {
                            background: url('../img/awareness.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 53px;
                            height: 40px;
                            margin-top: 25px;
                            margin-bottom: 15px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                                @include media('<=phone') {
                                    font-size: 15px;
                                    width: 93%;
                                }
                            }
                        }
                    }
                }
                &__second-column {
                    height: 80%;
                    width: 35%;
                    &__compare {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 7px;
                        margin-top: 20px;
                        @include media('<=phone') {
                            margin-left: 0;
                        }
                        &__image {
                            background: url('../img/research.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 53px;
                            height: 40px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                                @include media('<=phone') {
                                    width: 90%;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    &__headphones {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 7px;
                        margin-top: 30px;
                        @include media('<=phone') {
                            margin-left: 0;
                        }
                        &__image {
                            background: url('../img/headphones.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 53px;
                            height: 40px;
                            margin-top: 25px;
                            margin-bottom: 15px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                                @include media('<=phone') {
                                    width: 90%;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    &__emoji {
                        width: 350px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 7px;
                        margin-top: 30px;
                        @include media('<=phone') {
                            margin-left: 0;
                        }
                        &__image {
                            background: url('../img/emoji.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 53px;
                            height: 40px;
                            margin-top: 25px;
                            margin-bottom: 15px;
                        }
                        &__text {
                            margin-left: 15px;
                            h6 {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 19px;
                            }
                            p {
                                color: #FFFFFF;
                                font-family: $poppins;
                                font-size: 16px;
                                margin-top: 10px;
                                @include media('<=phone') {
                                    width: 90%;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__background {
            width: 700px;
            height: 465px;
            &__image {
                background: url('../img/people.png');
                background-repeat: no-repeat;
                background-size: cover;
                height: 465px;
                width: 700px;
                @include media('<=phone') {
                    background: url('../img/people.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 480px;
                    height: 350px;
                    margin-left: 144px;
                }
            }
        }
    }
}